<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://E:/jar包/spring/aopalliance-1.0.jar!/" />
      <root url="jar://E:/jar包/spring/commons-logging-1.2.jar!/" />
      <root url="jar://E:/jar包/spring/spring-aop-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-aspects-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-beans-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-context-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-context-support-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-core-5.2.3.RELEASE (1).jar!/" />
      <root url="jar://E:/jar包/spring/spring-core-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-expression-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-instrument-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-jdbc-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-jms-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-messaging-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-orm-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-oxm-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-test-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/jar包/spring/spring-tx-5.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>