<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="box" class="pojo.Box">
        <property name="color" value="黑色"></property>
    </bean>
    <bean id="paper" class="pojo.Paper">
        <property name="size" value="4"></property>
    </bean>
    <bean id="print" class="pojo.Print">
        <property name="box" ref="box"></property>
        <property name="paper" ref="paper"></property>
    </bean>
</beans>